@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  outline: 0px;
}
body {
  background-color: #f5f2f0;
  font-family: "Poppins", sans-serif;
  /* overflow: hidden; */
}

/* Navigation Bar */
.navbar-container .navbar {
  display: flex;
  height: 20vh;
  padding: 0px 100px;
  justify-content: space-between;
  align-items: center;
}
.navbar-container .navbar .logo img {
  width: 100px;
}

.navbar-container .navbar .list {
  display: flex;
  list-style-type: none;
  gap: 60px;
  font-size: 14px;
  color: #868686;
  align-items: center;
  position: relative;
}

.navbar-container .navbar .list .active {
  color: #000000;
}

.line {
  position: absolute;
  left: -300px;
  width: 65%;
  border-radius: 40px;
  height: 1.7px;
  background-color: #333333;
}

/* Main section */
main {
  display: flex;
}
.left-image-container .left-image {
  position: absolute;
  top: 0;
  width: 35vw;
  z-index: -1;
}
.left-image-container .left-image img {
  width: 100%;
  height: 900px;
  position: absolute;
  top: 0;
  object-fit: cover;
}

.left-image-container {
  width: 35%;
}
.right-image-container {
  width: 65%;
}

.main-content {
  display: flex;
  justify-content: space-evenly;
}
.left-content {
  width: 45%;
}
.left-content h1 {
  font-size: 100px;
  color: #ffffff;
  -webkit-text-stroke: 1px rgb(142, 139, 139);
  -webkit-text-fill-color: white;
  font-family: "Merriweather";
}
.left-content h2 {
  font-size: 100px;
  color: #000000;
  margin-left: 140px;
}

.middle-content {
  margin-top: 22%;
  margin-left: 20px;
}
.middle-content p {
  font-size: 20px;
  color: #868686;
}
.social-icons {
  display: flex;
  flex-direction: column;
}
.social-icons img {
  width: 20px;
  margin-bottom: 50px;
}
.btn-wrapper {
  display: block;
  margin-left: 70%;
}
button {
  font-size: 16px;
  padding: 15px;
  background-color: #000000;
  color: #ffffff;
}

/* buttom */
.buttom {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  position: relative;
}

.middle {
  width: 50%;
}
.dots {
  width: 30%;
  margin-left: 50px;
}
.arrow {
  width: 20%;
}
.arrow img {
  width: 30px;
  margin-left: 60px;
  margin-top: 150px;
}

.buttom .middle .imgs {
  width: 400px;
}
.buttom .middle p {
  font-size: 20px;
}
.buttom ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.buttom ul li {
  font-size: 20px;
  padding-bottom: 20px;
  list-style-type: none;
  color: #868686;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.buttom .dots .items .line-dot {
  height: 120%;
  width: 1.55px;
  background-color: #868686;
  position: absolute;
  left: 7px;
  top: 20px;
}
.active-item .dot {
  background-color: #333333;
}
.active-item p {
  color: #333333;
}

span {
  background-color: #868686;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  display: inline-block;
  vertical-align: center;
  margin-right: 20px;
}

/* mobile responsive */

@media screen and (max-width: 428px) {
  /* Navigation Bar */
  .navbar-container .navbar {
    padding: 0px 40px;
    width: 100%;
  }
  .navbar-container .navbar .logo img {
    width: 90px;
  }

  .navbar-container .navbar .list {
    display: none;
  }

  .line {
    display: none;
  }

  /* Main section */

  main {
    display: grid;
    grid-template-columns: auto;
  }
  .left-image-container .left-image {
    position: relative;
    width: 100vw;
  }
  .left-image-container .left-image img {
    width: 100%;
    height: 300px;
    position: relative;
  }
  .main-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }
  .left-content {
    width: 50%;
    margin-left: 40px;
  }
  .left-content h1 {
    font-size: 30px;
  }
  .left-content h2 {
    font-size: 40px;
    margin-left: 50px;
  }

  .middle-content {
    margin-top: 22%;
    margin-left: 50px;
    /* margin-right: 50px; */
    width: 50%;
  }
  .middle-content p {
    font-size: 15px;
  }
  .social-icons {
    /* margin: 0 auto; */
    width: 100%;
  }

  .social-icons img {
    width: 20px;
    margin-bottom: 30px;
  }
  .btn-wrapper {
    display: block;
    margin-left: 50%;
  }
  button {
    font-size: 14px;
    padding: 10px;
  }

  /* buttom */
  .buttom {
    display: flex;
    flex-direction: column;
  }

  .middle {
    width: 100vw;
    margin-top: 60px;
  }
  .dots {
    width: 100%;
    margin-left: 50px;
  }
  .arrow img {
    display: none;
  }

  .buttom .middle .imgs {
    width: 350px;
  }
  .buttom .middle p {
    font-size: 20px;
    text-align: center;
  }
  .buttom ul {
    display: flex;
    flex-direction: column;
  }
  .buttom ul li {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .buttom .dots .items .line-dot {
    height: 100%;
    width: 1.55px;
  }
}
